<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>About Project</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

<nav>

<div class="logo">

💧 AquaAI

</div>

<ul>

<li><a href="/">Home</a></li>

<li><a href="/predict">Predict</a></li>

<li><a href="/dashboard">Dashboard</a></li>

<li><a href="/about">About</a></li>

</ul>

</nav>

<section class="about">

<h1>💧 AI Water Quality Prediction System</h1>

<p>

This project predicts the quality of water using
Machine Learning and Deep Learning techniques.

Users enter important water parameters and the
AI predicts whether the water quality is
Excellent, Good, Moderate, Poor or Unsafe.

</p>

</section>

<section class="tech">

<div class="tech-card">

<i class="fa-brands fa-python"></i>

<h2>Python</h2>

<p>

Backend developed using Flask Framework.

</p>

</div>

<div class="tech-card">

<i class="fa-solid fa-brain"></i>

<h2>Machine Learning</h2>

<p>

Random Forest model predicts water quality.

</p>

</div>

<div class="tech-card">

<i class="fa-solid fa-microchip"></i>

<h2>Deep Learning</h2>

<p>

TensorFlow Neural Network compares prediction accuracy.

</p>

</div>

<div class="tech-card">

<i class="fa-solid fa-database"></i>

<h2>Dataset</h2>

<p>

20000 Water Quality Samples with WQI and Quality Labels.

</p>

</div>

</section>

<section class="details">

<h2>Project Features</h2>

<ul>

<li>✔ AI Based Water Quality Prediction</li>

<li>✔ Machine Learning Model</li>

<li>✔ Deep Learning Model</li>

<li>✔ Dashboard Analytics</li>

<li>✔ State-wise Water Analysis</li>

<li>✔ Modern Responsive Website</li>

<li>✔ Flask Backend</li>

</ul>

</section>

<footer>

<p>

Developed using Python, Flask, TensorFlow,
Scikit-Learn, HTML, CSS and JavaScript.

</p>

</footer>

</body>

</html>